# Archivos y carpetas generadas por STM32CubeIDE que NO deben subir a Git
.settings/
.project
.cproject
.mxproject
Debug/
Release/
build/
*.bin
*.hex
*.elf
*.map
*.srec
*.lst
*.suo
*.user
*.bak
*.log
*.~
.classpath
.buildpath